:root {
   --primary: #8b3743;
   --bg: #010101;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

body {
   font-family: "Manrope", sans-serif;
   background-color: var(--bg);
   color: #fff;
   padding-top: 4.5rem;
}

/* Navbar Styles */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.4rem 7%;
   background-color: rgba(1, 1, 1, 0.8);
   border-bottom: 1px solid var(--primary);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
}

/* 1. Navbar Logo */
.navbar .navbar-logo {
   font-size: 2rem;
   font-weight: 700;
   color: #fff;
   font-style: italic;
   span {
      color: var(--primary);
   }
}

/* 2. Navbar Mid Nav */
.navbar .navbar-nav a {
   color: #fff;
   display: inline-block;
   font-size: 1.2rem;
   margin: 0 1rem;
   transition: 0.1s linear;
}

.navbar .navbar-nav a:hover {
   color: var(--primary);
}

.navbar .navbar-nav a::after {
   content: "";
   display: block;
   padding-bottom: 0.5rem;
   border-bottom: 0.1rem solid var(--primary);
   transform: scaleX(0);
   transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
   transform: scaleX(0.5);
}

/* 3. Navbar Right Menu */
.navbar .navbar-extra a {
   color: #fff;
   margin: 0 0.5rem;
   transition: 0.1s linear;
}

.navbar .navbar-extra a:hover {
   color: var(--primary);
}

#hamburger-menu {
   display: none;
}
